extends layout

block content
  h2.h4.mb-0.text-uppercase.font-weight-bold Edit Settings
  .my-3.my-md-4
    button.btn.btn-primary Connect To Stripe
  form.col-lg-6.px-lg-0
    .form-group.my-2
      input.form-control(type="email" placeholder="Email")
    .form-group.my-2
      input.form-control(type="name" placeholder="Name")
    .form-group.my-2
      input.form-control(type="password" placeholder="Password")
    .form-group.my-2
      input.form-control(type="password" placeholder="Confirm Password")